/* Στυλ στοιχείου του tooltip */
.explanation-tooltip {
  position: sticky;
  bottom:0;
  display: inline-block;
  cursor: help;
  color: green !important;
}

.explanation-tooltip .explanation-tooltiptext {
  visibility: hidden;
  /* Μέγιστο πλάτος του tooltip */
     
    width: 50vw;
    max-width: 800px;
    overflow-x: visible;

  
  white-space: none; /* Επιτρέπεται το wrapping σε νέες γραμμές, χωρίς σπάσιμο λέξεων */
  word-break: normal; /* Δεν διασπώνται οι λέξεις */
  overflow-wrap: normal; /* Μη αναγκαστικό σπάσιμο λέξεων */
  background-color: #333;
  color: #fff;
  text-align: center; 
  padding: 5px;
  border-radius: 5px;

  /* Τοποθέτηση πάνω από το στοιχείο */
  position: sticky;
  bottom:0;
  z-index: 1;
  right: 105%; /* Τοποθέτηση δεξιά του trigger */
  top: 200%; /* Κάθετα στο μέσο του trigger */
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;

  font-size: 16px;
  line-height: 1.3;
}

/* Εμφάνιση του tooltip όταν ο χρήστης κάνει hover */
.explanation-tooltip:hover .explanation-tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Προαιρετικό "βέλος" για το tooltip */
.explanation-tooltip .explanation-tooltiptext::after {
  content: "";
  position: sticky;
  bottom:0;
  top: 50%;
  right: 100%; /* Το βέλος θα εμφανίζεται στα αριστερά του tooltip */
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}
.buttons-container {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid red; */
  gap: 15px;
}


.govgr-arrow-left {
  width: 20px;  /* Μεγαλύτερο μέγεθος για καλύτερη ορατότητα */
  height: 20px;
  fill: black; 
}
#backQuestion {
  border-radius: 5px;
}

/* Το overlay που καλύπτει ολόκληρη την οθόνη */
.disclaimer-overlay {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* ημίδιαφανές μαύρο */
  display: none; /* αρχικά κρυφό */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Αποκλεισμός click στην υπόλοιπη σελίδα */
  pointer-events: auto;
}

/* Όταν το overlay είναι ενεργό, προσθήκη κλάσης για εμφάνιση */
.disclaimer-overlay.active {
  display: flex;
}

/* Το περιεχόμενο του modal (popup) */
.disclaimer {
  position: absolute;
  top: 5%;
  width: fit-content;
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1001;
  max-width: 800px;
  overflow-y: auto;
  /* Εξασφαλίζει ότι το popup λαμβάνει pointer events */
  pointer-events: auto;
}
#closeDisclaimer {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
#closeDisclaimer:hover {
  background-color: rgb(52, 117, 52);
}
/* Όταν το modal είναι ανοιχτό, αποτρέπουμε pointer events στην υπόλοιπη σελίδα */
body.modal-open *:not(.disclaimer-overlay):not(.disclaimer-overlay *) {
  pointer-events: none;
}

#disclaimer-prompt {
  /* border: 1px solid red; */
  width: 100%;
}
